body {
	margin: 0px;
	background-image: url("http://eskipaper.com/images/victorian-wallpaper-1.jpg");
	background-color: #e9e9b9; /*Alternate background color if image cannot be loaded*/
	background-attachment: fixed;
	/*sets whether a background image is fixed or scrolls with the rest of the page*/
	/*font-family: Miriam Fixed;*/
	color: gold;
}
#headline {
	color: gold;
	text-align: center;
	text-decoration: underline;
}

.Content {
	color: gold;
 	display: block;
	padding-top: 60px;
	padding-bottom:10px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 50px;
}
.lady-pnl {
	width: 94%;
	float:auto;
	border:solid;
	border-width:1px;
	border-radius: 16px!important;
	border-color:#343434;
	background-color:rgba(10, 2, 2, 0.4);
	padding:10px;
	margin-bottom: 10px;
	cursor:pointer;
}

.lady-pnl img {
	margin: auto;
	padding: 10px;
}
.lady-pnl h3 {
	text-align: center;
}
.lady-pnl h4 {
	text-align: center;
}


#footer {
	display: block;
	position: fixed;
	margin-bottom: 0px;
	z-index: 100;
	height: 30px;
	width: 100%;
	color: #646464;
	background-color: black;
}
#footer p {
	text-align: center;
	padding-top: 10px;
	
}
